h1 {
    color: #9d8189;
}
h2 {
    color: #f4acb7;
}
.plogin {
    background-color: #ffe5d9;
    text-align: center;
    padding: 15px;
    border: 10px solid #d8e2dc;
    margin: 40px 10px 20px 10px; /*margin: "top" "left" "bottom" "right";*/
}
.psingup {
    background-color: #ffe5d9;
    text-align: center;
    padding: 15px;
    border: 10px solid #d8e2dc;
    margin: 40px 10px 20px 10px; /*margin: "top" "left" "bottom" "right";
    /*margin: auto; "Esta linea centra los elementos de manera horizontal"*/
}
a:link {
    text-decoration: none;
    background-color: #f4acb7;
    padding: 20px;
    color: #1d2d44;
}
a:visited{
    color: black;
}
a:hover {
    background-color: #ffcad4;
    color: #ffffff;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
caption {
    color: #d4a373;
    font-family: "Trocchi", serif;
    font-size: 40px;
    line-height: 70px;
}
th {
    color: black;
    background-color: #faedcd;
}
tr:nth-child(even) { /*Esta propiedad se aplica a renglones pares (even) o impares (odd)*/
    background-color: #fefae0;
}
tr:nth-child(odd) {
    background-color: #e9edc9;
}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
li a {
    display: block;
}
ol {
    list-style: none;
    counter-reset: contador;
}
ol li::before { /*Estamos utilizando un selector, en este caso before (antes) pero tambien essta after (despues)*/
    content: "Curso " counter(contador) ") "; /*Contador y contenido*/
    counter-increment: contador;
    color: #cdb4db;
}
ol li::after {
    content: ".";
}